li {
  list-style-type: none;
}
.container {
  max-width: 900px;
  margin: auto;
  font-family: monospace;
  text-align: center;
}
.principal-icon {
  font-size: 100px;
}
.tempDay {
  font-size: 50px;
}
.conversion {
  font-size: 30px;
}
.iday-one,
.iday-two,
.iday-three,
.iday-four,
.iday-five {
  font-size: 30px;
}
.day-one:hover,
.day-two:hover,
.day-three:hover,
.day-four:hover,
.day-five:hover {
  opacity: 70%;
  font-size: 18px;
}

.cityNameShow {
  font-size: 25px;
}
