li {
  list-style-type: none;
}
.weatherApp {
  border: 1px solid rgb(228, 221, 221);
  border-radius: 5px;
  padding: 20px;
}
.container {
  font-family: monospace;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.cityNameShow {
  font-size: 40px;
}

.tempDay,
.conversion {
  font-size: 35px;
}

.forecastCol {
  margin-top: 8px;
  text-align: center;
}

.forecast-temp-max,
.forecast-temp-min {
  font-size: 12px;
}
.forecastDay {
  font-size: 18px;
}
