li {
  list-style-type: none;
}
.weatherApp {
  border: 1px solid rgb(228, 221, 221);
  border-radius: 5px;
  padding: 20px;
}
.container {
  font-family: monospace;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.cityNameShow {
  font-size: 40px;
}

.tempDay,
.conversion {
  font-size: 35px;
}

.iday-one,
.iday-two,
.iday-three,
.iday-four,
.iday-five {
  font-size: 30px;
}
.day-one:hover,
.day-two:hover,
.day-three:hover,
.day-four:hover,
.day-five:hover {
  opacity: 70%;
  font-size: 18px;
}
